### Introducción a pandas y matplotlib

In [5]:
import pandas as pd

In [9]:
datos = {'nombre':['hamburguesas', 'hotdogs', 'alitas', 'papas a las francesas', 'platanos fritos'],
         'precio':[50, 25, 50, 35, 30],
         'vendidos':[5, 4, 5, 8, 2],
         'disponibilidad':['viernes', 'sabados', 'sabados', ['viernes', 'sabados'], ['viernes', 'sabados']]
        }

In [12]:
df = pd.DataFrame(datos)

In [25]:
df["precio"].unique()

array([50, 25, 35, 30])

In [26]:
df["vendidos"].mean()

4.8

In [29]:
df.head()

                  nombre  precio  vendidos      disponibilidad
0           hamburguesas      50         5             viernes
1                hotdogs      25         4             sabados
2                 alitas      50         5             sabados
3  papas a las francesas      35         8  [viernes, sabados]
4        platanos fritos      30         2  [viernes, sabados]

##### funciones básicas
- head
- count
- max
- min
- unique
- median
- mode
- std
- var

##### ejercicios
- ¿Cuál es el precio máximo de nuestros productos?
- ¿Qué producto se vende menos?
- ¿Media de ventas?
- ¿Cuál es la moda de los productos vendidos?
- Desviación estandar de los precios

In [59]:
# ejercicio 1
print("Precio máximo \n", df.groupby("nombre").max())
#df["precio"].max()
# ejercicio 2
print("Producto menos vendido \n", df["vendidos"].min())
#df["vendidos"].min()
# ejercicio 3
print("Media de los producto vendidos", df["vendidos"].mean())
#df["vendidos"].mean()
# ejercicio 4
print("Moda de los producto vendidos", df["vendidos"].mode())
#df["vendidos"].mode()
# ejercicio 5
print("Desviación estandar", df["precio"].std())
#df["precios"].std()

Precio máximo
                        precio  vendidos      disponibilidad
nombre
alitas                     50         5             sabados
hamburguesas               50         5             viernes
hotdogs                    25         4             sabados
papas a las francesas      35         8  [viernes, sabados]
platanos fritos            30         2  [viernes, sabados]
Producto menos vendido
 2
Media de los producto vendidos 4.8
Moda de los producto vendidos 0    5
dtype: int64
Desviación estandar 11.510864433221338

In [50]:
df.groupby("precio").max()

                       nombre  vendidos      disponibilidad
precio
25                    hotdogs         4             sabados
30            platanos fritos         2  [viernes, sabados]
35      papas a las francesas         8  [viernes, sabados]
50               hamburguesas         5             viernes

In [60]:
from matplotlib.pyplot import plot